@model Uvv.TesteAgil.Entidades.Modelos.ScriptTeste
@using Uvv.TesteAgil.Entidades.Modelos;

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Criar Novo Script de Teste</h2>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md" for="nome">Nome</label>
                <input class="form-control" id="nome" name="nome" type="text" data-bind="value:Nome" />
                <div id="validacaoNome" class="alert alert-danger collapse">
                    <strong>Campo obrigatório</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Passos</div>
            <div class="panel-body">
                <div class="form-group" style="padding:30px">
                    @*<label for="numero">Número</label>*@
                    @*<input onkeypress="return Onlynumbers(event)" class="form-control" id="numero" name="numero" type="text" data-bind="value:Numero" />*@
                    @*<div id="validacaoNumero" class="alert alert-danger collapse">
                        <strong>Campo obrigatório</strong>
                    </div>*@
                    <label for="descricao">Descrição</label>
                    <input class="form-control" id="descricao" name="descricao" type="text" data-bind="value:Descricao" />
                    <div id="validacaoDescricao" class="alert alert-danger collapse">
                        <strong>Campo obrigatório</strong>
                    </div>
                    <button style="align-content:flex-end" class="btn btn-info" type="button" data-bind="click:adicionarPasso">Adicionar <i class="glyphicon glyphicon-plus"></i></button>

                    <table class="table table-striped" style="padding:30px">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Passos">
                            <tr>
                                <td><input class="form-control" type="text" data-bind="value:Numero" /></td>
                                <td><input class="form-control" type="text" data-bind="value:Descricao" /></td>
                                <td><a href='#' class="btn btn-danger" data-bind='click: MeuModelo.removerPasso'>Remover</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="validacaoPassos" class="alert alert-danger collapse">
                        <strong>Adicionar pelo menos um item na lista</strong>
                    </div>

                </div>
            </div>

        </div>
        <div style="padding:30px">
            <input class="btn btn-primary" type="button" value="Salvar" data-bind="click:salvarScript" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.4.2.js")"></script>
<script type="text/javascript">
    var MeuModelo = {
        IdScript: ko.observable(),
        Numero: ko.observable(),
        Descricao: ko.observable(),
        Nome: ko.observable(),
        Passos: ko.observableArray([]),
        adicionarPasso: function () {
            if (ko.toJSON(this.Descricao) == undefined) {
                //if (ko.toJSON(this.Numero) == undefined) {
                //    $('#validacaoNumero').show();
                //}
                if (ko.toJSON(this.Descricao) == undefined) {
                    $('#validacaoDescricao').show();
                }
            }
            else {
                //$('#validacaoNumero').hide();
                $('#validacaoDescricao').hide();
                var arr = JSON.parse(JSON.stringify(this.Passos()));
                this.Passos.push({ IdScript: this.IdScript, Numero: (arr.length + 1), Descricao: this.Descricao() })
                this.IdScript("");
                this.Numero("");
                this.Descricao("");
            }
        },
        removerPasso: function (passo) {
            MeuModelo.Passos.remove(passo);
        },
        salvarScript: function () {
            debugger;
            var dados = ko.toJS(MeuModelo.Passos);
            var nome = ko.toJS(MeuModelo.Nome);
            var arr = JSON.parse(JSON.stringify(MeuModelo.Passos()));

            if (nome == undefined) {
                $('#validacaoNome').show();
            }
            if (arr.length == 0) {
                $('#validacaoPassos').show();
            }
            if (dados != undefined && arr.length > 0)
            {
                $('#validacaoNome').hide();
                $('#validacaoPassos').hide();
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "SalvarPasso",
                    data: JSON.stringify({ passos: dados, nome: nome }),
                    traditional: true,
                    success: MeuModelo.sucesso,
                    error: MeuModelo.falha
                });
            }          
        },
        sucesso: function () {
            window.location.href = '@Url.Action("Index")'; },
        falha: function () { window.location.href = '@Url.Action("Index")'; }
    };

    ko.applyBindings(MeuModelo);
</script>

<script>
    function Onlynumbers(e) {
        var tecla = new Number();
        if (window.event) {
            tecla = e.keyCode;
        }
        else if (e.which) {
            tecla = e.which;
        }
        else {
            return true;
        }
        if ((tecla >= "97") && (tecla <= "122")) {
            return false;
        }
    }
</script>
